:root {
    --neutral-100: #F2F2F7;
    --neutral-200: #E4E4EF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dark-mode {
    background-image: url("./assets/images/bg-dark-theme.png");
    color: var(--neutral-200);
}

.light-mode {
    background-image: url("./assets/images/bg-light-theme.png");
    color: #222;
}