@font-face {
    font-family: "dm-sans";
    src: url("./assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf");
}

:root {
    --font-family-dm-sans: "dm-sans";

    --neutral-100: #F2F2F7;
    --neutral-200: #E4E4EF;
    --neutral-700: #2A2B37;
    --neutral-800: #21222C;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family-dm-sans);
}

.dark-mode {
    background-image: url("./assets/images/bg-dark-theme.png");
    color: var(--neutral-200);

    textarea {
        background-color: var(--neutral-800);
        border: 2px solid var(--neutral-700);
        color: var(--neutral-200);
    }
}

.light-mode {
    background-image: url("./assets/images/bg-light-theme.png");
    color: #222;

    textarea {
        background-color: var(--neutral-100);
        border: 2px solid var(--neutral-200);
        color: var(--neutral-700);
    }
}

h1 {
    padding: 16px;
    letter-spacing: 1px;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin: 40px 0;
}

// CONTAINERS

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.text-area {
    padding: 0 16px;
}